@model GameSense.Models.Game
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddGameToList" method="post">
                <input asp-for="@Model.ID" name="id" type="hidden" />
                <input asp-for="@user.Id" name="userid" type="hidden" />
                <div class="form-group">
                    <input type="submit" value="Add to my list!" class="btn btn-secondary" />
                </div>
            </form>
        </div>
    </div>
}



