@model GameSense.Models.Game
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject GameSense.Data.GameSenseContext context
@{
    var user = await UserManager.GetUserAsync(User);
    var gamelistID = context.gameUserConnection.FirstOrDefault(mbox => (mbox.gameID == Model.ID && mbox.userID == user.Id) );
}

<h3>Are you sure you want to remove this game from your list?</h3>
<div>
    <form asp-action="myListDelete" method="post">
        <input type="number" asp-for="@gamelistID.ID" name="id" hidden />
        <input type="submit" value="Remove" class="btn btn-danger" /> 
        <a asp-action="UserIndex">Back to List</a>
    </form>
</div>
