@model GameSense.Models.Article

@{
    ViewData["Title"] = "Details";
}
<link href="~/css/ArtDetails.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<ul style="list-style:none;">
    <li class="title">@Model.Title</li>
    <li class="subtitle">@Model.Date</li>
    <li class="image" style="background-image:url('@Model.Path');"></li>
</ul>
<div class="content">
    <p>@Model.Content</p>
</div>
<partial name="UpdateLikes" />