@model GameSense.Models.Article

<form onsubmit="Like()">
    <div class="form-group">
        <label id="likes">@Html.DisplayFor(model => model.Likes)</label>
        <button type="submit" id="Like-btn" class="btn"><i id="icon" class="fa fa-thumbs-up"></i>Like</button>
    </div>
</form>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>

    function Like() {
        event.preventDefault()
        document.getElementById("Like-btn").style.backgroundColor = "transparent";
        document.getElementById("Like-btn").style.border = "1px solid #029acf;";
        document.getElementById("Like-btn").style.color = "black";
        
        var id = @Model.ID;
        $.ajax({
            type:"post",
            url:'@Url.Action("Addlike","Articles")',
            data:
            {
               'id' :id,
            },
            cache: false,
            success: function (data) {
                $('#likes').html(data);
            }
        });
    }
</script>