@model IEnumerable<GameSense.Models.Article>
@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/HomeStyle.css" rel="stylesheet" />
<h1 style="        text-align: center;
        padding-top: 10px;
        text-shadow: 2px 2px;">
    Welcome to GameSense
</h1>
<p style=" text-align:center;">
    The Place for Gamers to find their games and Favorite eSports moments and matches 
</p>
<div class="text-center" style="width:100%; margin:0; z-index:1; overflow:hidden;">
    <div class="left-bar">
        <a asp-controller="Articles" asp-action="Index"><h2 style="border-bottom:1px solid #bbb; text-align:left;">Articles</h2></a>
        @foreach (var article in Model)
        {
            <div class="Article-Item">
                <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.ID"><div class="art-img" style="background-image:url('@article.Path');"></div></a>
                <div class="left-art">
                    <h3>@article.Title</h3>
                    <div class="Art-Content">
                        <p>@article.BriefContent</p>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="right-bar">
        <video width="256" height="144" autoplay muted>
            <source src="~/resources/intro.mp4" type="video/mp4">
            <h1>
                Welcome to GameSense
            </h1>
        </video>
        <div class="Upcoming-Games">
            <h4>
                Upcoming Matches
            </h4>
            <ul class="clearfix">
                <li class="clearfix">
                </li>
            </ul>
            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
        </div>
    </div>
    

</div>
<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length };
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>
